<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="foot" class="footer">
    <div>Copyright © 2020 · mylittlemoonpie </a> · 网站程序: Spring Boot · 赣ICP备20007395号-1</div>
    <div style="width:300px;margin:0 auto; padding:20px 0;">
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=36092202000125"
       style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
        <img src="/img/police_icon.png" style="float:left;"/>
        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
            赣公网安备 36092202000125号</p>
    </a>
</div>
</div>
</body>
</html>