<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>mylittlemoonpie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../bootstrap/css/community.css?version=20200902">
    <script src="../jQuery/jquery.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="../bootstrap/js/login.js" type="application/javascript"></script>
    <title>登录</title>
    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
</head>
<body>
<div th:insert="~{nav::headnav}"></div>
<div class="main" style="height: 500px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active" data-id="tabContent1"><a href="#">登录</a></li>
        <li role="presentation" data-id="tabContent2"><a href="#">注册</a></li>
        <li role="presentation" data-id="tabContent3"><a href="#">管理员登录</a></li>
    </ul>

    <div class="tabs-contents">
        <!-- 登录 -->
        <div class="tab-content active" id="tabContent1">
            <form action="/login" method="post">
            <table class="table table-striped" style="width: 600px">
                <tbody>
                <tr>
                    <td>名称：</td>
                    <td><input type="text" class="form-control" name="login_username" placeholder="请输入内容" ></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input type="text" class="form-control" name="login_pwd" placeholder="请输入内容" ></td>
                </tr>
                <tr>
                    <td>验证码：</td>
                    <td><input type="text" class="form-control" name="login_code" placeholder="请输入内容" ></td>
                </tr>
                </tbody>
            </table>

            <a href="https://github.com/login/oauth/authorize?client_id=fe9463ce11cae635aec0&redirect_uri=http://localhost:8080/callback&scope=user&state=1">
                <img src="/img/github_icon.png" style="width: 30px; height: 30px ;margin-left: 25px">
            </a>
            <button type="submit" style="margin-left: 480px" class="btn btn-primary" id="tabSubmit1">提交</button>
            </form>

        </div>
        <!-- 注册 -->
        <div class="tab-content" id="tabContent2" style="width: 600px">
            <form action="/register" method="post">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>名称：</td>
                    <td><input type="text" class="form-control" name="regis_username" placeholder="请输入内容" ></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input type="text" class="form-control" name="regis_pwd" placeholder="请输入内容"></td>
                </tr>
                <tr>
                    <td>再次输入密码：</td>
                    <td><input type="text" class="form-control" name="regis_pwd2" placeholder="请输入内容" ></td>
                </tr>
                <tr>
                    <td>验证码：</td>
                    <td><input type="text" class="form-control" name="regis_code" placeholder="请输入内容" ></td>
                </tr>
                </tbody>
            </table>

            <button type="submit" style="margin-left: 545px" class="btn btn-primary " id="tabSubmit2">提交</button>
            </form>
        </div>
        <!-- 管理员登录 -->
        <div class="tab-content" id="tabContent3" style="width: 600px">
           <form action="/admin">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>id:</td>
                    <td><input type="text" class="form-control" name="" placeholder="请输入内容" ></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input type="text" class="form-control" name="" placeholder="请输入内容"></td>
                </tr>

                </tbody>
            </table>
            <button type="submit" style="margin-left: 545px" class="btn btn-primary" id="tabSubmit3">提交</button>
           </form>
        </div>
    </div>




    <!-- <a th:href="@{https://github.com/login/oauth/authorize(client_id='fe9463ce11cae635aec0',redirect_uri='localhost:8080/callback',scope='user',state=1)}">
         <img src="/img/github_icon.png" style="width: 30px; height: 30px">
     </a>-->
</div>

</div>
<div th:insert="~{footer :: foot}"></div>
</body>

</html>